.flex-container {
    display: flex;
    flex-direction: column;
    
}

label {

    display: flex;
    flex-direction: column;
}



h1 {
    text-align: center;
    font-family: 'Copse', serif;
    color: rgb(237, 234, 230);
}

body {
    background: url("../styles/images/banff3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Copse', serif;
    
  }

.journalDate {
    margin: 20px;
    padding: 0 10px 10px;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0 0 10px #666;
    padding-top: 10px;
    color: whitesmoke;
    width: 17%;
}

.conceptsCovered {
    margin: 20px;
    padding: 0 10px 10px;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0 0 10px #666;
    padding-top: 10px;
    color: whitesmoke;
    width: 17%;
}

.journalEntry {

    margin: 20px;
    padding: 0 10px 10px;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0 0 10px #666;
    padding-top: 10px;
    color: whitesmoke;
    width: 34%;
}

.moodForTheDay {
    margin: 20px;
    padding: 0 10px 10px;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0 0 10px #666;
    padding-top: 10px;
    color: whitesmoke;
    width: 17%;
}

.record {
    margin: 20px;
    padding: 0 10px 10px;
    /* border: 1px solid #666; */
    /* border-radius: 8px; */
    /* box-shadow: 0 0 10px #666; */
    padding-top: 10px;
}

.recordEntryButton {
    margin-bottom: 20px;
margin-bottom: 45px;
 background-color: rgb(31, 140, 207);
 padding: .5em;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 6px;
 color: #fff;
 font-family: 'Copse', serif;
 font-size: 14px;
 text-decoration: none;
 margin-left: 10px;
 border-color: whitesmoke;

}